<%= form_with(model: message, local: true, :html => {:id => "message_form"}) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :first_name, placeholder: "First Name", id: :message_first_name %>
  </div>

  <div class="field">
    <%= form.text_field :last_name, placeholder: "Last Name", id: :message_last_name %>
  </div>

  <div class="field">
    <%= form.text_field :company_name, placeholder: "Company Name", id: :message_company_name %>
  </div>

  <div class="field">
    <%= form.email_field :email, placeholder: "email@email.com", id: :message_email %>
  </div>

  <div class="field">
    <%= form.select(:interest, ['What are you interested in?', 'Offering EHE to my company', 'Corporate Events', 'Biometric Screenings' ], {}, :id => "message_interest")  %>

  </div>

  <div class="field">
    <%= form.text_area :comment, placeholder: "Comment", id: :message_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
