<h1>Admin Dashboard</h1>
<%= link_to "Posts", admin_posts_path %> |
<%= link_to "Campaigns", admin_campaigns_path %> |
<%= link_to "Admins", "/" %> |
<%= link_to "Commanders", "/" %> |
<%= link_to "Messages", "/" %>

