<p>
  <strong>First name:</strong>
  <%= @message.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @message.last_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @message.company_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @message.email %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @message.interest %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @message.comment %>
</p>

<%= link_to 'Back', administrator_messages_path %>
