<div class="row expanded header-name">
  <div class="small-12">
 <div class="row">

    <% if current_user %>
     <div class="small-6 columns">
        <p><span>Welcome: <%= current_user.full_name %></span> </p>
      </div>
      <div class="small-6 columns text-right">
        <p><%= link_to "EHE Homepage", root_path %> &nbsp;|&nbsp; <%= link_to "LOG OUT", destroy_user_session_path, :method => :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>

</div>
  </div>
</div>

<div class="row expanded header-nav">
  <div class="small-12">
<div class="row">
  <div class="small-12 columns text-center">
   <ul class="dropdown menu" data-dropdown-menu>
     <li><%= link_to "Dashboard", admin_dashboard_path %></li>
     <li><%= link_to "Posts", admin_posts_path %>
       <ul class="menu">
          <li><%= link_to "Archived", archived_admin_posts_path %></li>
          <li><%= link_to "Preview", preview_admin_posts_path %></li>
          <li><%= link_to "Locked", locked_admin_posts_path %></li>
          <li><%= link_to "Scheduled", scheduled_admin_posts_path %></li>
       </ul>
     </li>
     <li><%= link_to "Campaigns", admin_campaigns_path %></li>
     <li><%= link_to "Admins", admin_users_path %></li>
     <li><%= link_to "Commanders", admin_commanders_path %></li>
     <li><%= link_to "Categories", admin_categories_path %></li>
     <li><%= link_to "Messages", admin_messages_path %></li>
    </ul>
  </div>
</div>
  </div>
</div>
