<footer>
 <!--- start footer -->
    <div id="footer-contain">
        <div class="row">
            <div class="small-12 medium-8 columns" >
               <h6 class="ProximaNova-Bold">Engaging Healthy Employees <span class="small">| EST</span> 1913</h6>

                
                <%= render :partial => 'subscriptions/form', :locals => {:subscription => Subscription.new} %>
                
            <p class="ProximaNova-Bold">Questions: <span class="ProximaNova-Regular">800.362.8671</span></p>
            </div><!-- end first column -->
            <div class="small-12 medium-2 columns" >
              <ul>
                <li><%= link_to "Corporate", "/corporate_partnership" %></li>
                <li><%= link_to "Careers", "/careers" %></li>
                <li><%= link_to "Contact Us", "/contact" %></li>
                <li><%= link_to "Locations", EHE_LOCATIONS %></li>
                <li><%= link_to "FAQs", "/faq" %></li>
              </ul>
            </div>
            <div class="small-12 medium-2 columns" >
              <ul>
                <li><%= link_to "Privacy Policy", "/privacy_policy" %></li>
                <li><%= link_to "Terms Of Use", "/terms_of_use" %></li>
                <li><%= link_to "HIPAA Notice", "/hipaa_notice" %></li>
              </ul>
            </div>
        </div>
        <div class="row">
          <div class="social-icons-container">
            <div class="small-6 medium-1 columns">
              <%= link_to image_tag("/images/icon-instagram.png", :alt => "instagram", :class => "social-icons"), "https://www.instagram.com/ehehealth/", target: :_blank %>
            </div>
            <div class="small-6 medium-1 columns">
              <%= link_to image_tag("/images/icon-facebook.png", :alt => "facebook", :class => "social-icons"), "https://www.facebook.com/ehehealth/", target: :_blank %>
            </div>
            <div class="small-6 medium-1 columns">
              <%= link_to image_tag("/images/icon-twitter.png", :alt => "twitter", :class => "social-icons"), "https://twitter.com/ehehealth/", target: :_blank %>
            </div>
            <div class="small-6 medium-1 columns">
            </div>
          </div>
        </div>
    </div>
<!-- end footer -->
</footer>

