<footer>
 <!--- start footer -->
    <div id="footer-contain">
        <div class="row">
            <div class="small-12 medium-8 columns" >
               <h6 class="ProximaNova-Bold">Engaging Healthy Employees <span class="small">| EST</span> 1913</h6>
                <p class="ProximaNova-Bold">Stay Connected</p>
                <div class="row">
                    <div class="small-8 small-centered medium-7 medium-uncentered column" >
                        <form name="subscribe" action="/subscribe" method="post">
                            <input type="hidden" name="authenticity_token" value="token_value">
                            <input type="email" name="subscribe[email]" placeholder="name@email.com">
                            <input class="" type="Submit" value="Submit">
                        </form>
                    </div>
                </div>
            <p class="ProximaNova-Bold">Questions: <span class="ProximaNova-Regular">800.362.8671</span></p>
            </div><!-- end first column -->
            <div class="small-12 medium-2 columns" >
              <ul>
                <li><%= link_to "Latest", posts_path %></li>
                <li><%= link_to "Careers", "/pages/careers" %></li>
                <li><%= link_to "Contact Us", "/pages/contact" %></li>
                <li><%= link_to "Locations", "/pages/locations" %></li>
                <li><%= link_to "FAQs", "/pages/faq" %></li>
              </ul>
            </div>
            <div class="small-12 medium-2 columns" >
              <ul>
                <li><%= link_to "Privacy Policy", "/pages/privacy_policy" %></li>
                <li><%= link_to "Terms Of Use", "/pages/terms_of_use" %></li>
                <li><%= link_to "HIPAA Notice", "/pages/hipaa_notice" %></li>
              </ul>
            </div>
        </div>
        <div class="row">
          <div class="social-icons-container">
            <div class="small-6 medium-1 columns">
              <%= link_to image_tag("images/icon-instagram.png", :alt => "instagram", :class => "social-icons"), "https://www.instagram.com/eheintl/", target: :_blank %>
            </div>
            <div class="small-6 medium-1 columns">
              <%= link_to image_tag("images/icon-facebook.png", :alt => "facebook", :class => "social-icons"), "https://www.facebook.com/ehehealth/", target: :_blank %>
            </div>
            <div class="small-6 medium-1 columns">
              <%= link_to image_tag("images/icon-twitter.png", :alt => "twitter", :class => "social-icons"), "https://twitter.com/EHEIntl/", target: :_blank %>
            </div>
            <div class="small-6 medium-1 columns end">
              <%= link_to image_tag("images/icons-youtube.png", :alt => "youtube", :class => "social-icons"), "https://www.youtube.com/user/EHEintl100/", target: :_blank %>
            </div>
          </div>
        </div>
    </div>
<!-- end footer -->
</footer>

