<nav>
  <ul>
    <li class="menu-text"><%= link_to "EHE", root_path %></li>
    <li><%= link_to "About", "/pages/about" %></li>
    <li><%= link_to "Preventive Care", "/pages/preventive_care" %></li>
    <li><%= link_to "Wellness Care", "/pages/wellness_care" %></li>
    <li><%= link_to "Latest", posts_path %></li>
    <li><%= link_to "Corporate", "/pages/corporate_partnership" %></li>
    <% if current_user %>
      <p>welcome: <%= current_user.full_name %></p>
      <li><%= link_to "LOG OUT", destroy_user_session_path, :method => :delete, data: { confirm: 'Are you sure?' } %></li>
    <% else %>
      <li><%= link_to "ADMIN", user_session_path  %></li>
    <% end %>
    <li><%= link_to "LOG IN", "https://staging.eheandme.com/" %></li>
  </ul>
</nav>

