<nav>
  <ul>
    <li class="menu-text"><%= link_to "EHE", root_path %></li>
    <li><%= link_to "About", "/pages/about" %></li>
    <li><%= link_to "Preventive Care", "/pages/preventive_care" %></li>
    <li><%= link_to "Wellness Care", "/pages/wellness_care" %></li>
    <li><%= link_to "Latest", posts_path %></li>
    <li><%= link_to "Corporate", "/pages/corporate_partnership" %></li>
    <li><%= link_to "LOG IN", "/"  %></li>
    <%  %>
        <li><%= link_to "Admin Dashboard", admin_path %></li>
        <p>Welcome: <%=  %></p><br>
        <li>  <%= link_to "Log out admin", "", data: { confirm: 'Are you sure?' } %></li>
    <%  %>
  </ul>
</nav>
<!-- user_session_path -->
