<% title 'About' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, About' %>
 <div class="page-header">
    <div class='row'>
      <div class='small-12'>
        <h1 class='title-heading text-center'>The Science of Prevention Meets the Art of Living</h1>
      </div>
     </div>
        <div class='row'>
          <div class='small-12 large-6 column'>
              <p>EHE was founded in 1913 as the first health care provider emphasizing the power of preventive care &mdash; giving people lifestyle skills geared towards optimal health, performance, productivity, and longevity. This was an unprecedented approach to health care, and the results were undeniable from the start.</p>
              <p>President Woodrow Wilson endorsed our diet, tens of thousands of preventive exams were conducted in just the first few years, and EHE began to change lives. Our story is one of ongoing innovation, paired with unparalleled results.</p>
          </div>
          <div class='small-12 large-6 column'>
              <p>We've been at the forefront of progressive health care for more than 100 years, and the possibilities moving forward are boundless. New and exciting technologies are giving us more opportunities than ever to help individuals get what they need to live better and feel their best, every day.</p>
              <p>At EHE, we're committed to empowering you with the best tools for your health, and after a century of excellence, this is just the beginning.</p>
          </div>
        </div>
    </div>
    <!-- START meet our commanders in wellness -->
    <div class="expanded row meet-commanders img-contain paraxify">
  <div class="color-overlay"> </div>
   <div class="small-12">
   <div class="row expanded">
     <div class="small-12 large-5 large-offset-6 columns text-center">
        <div class="content-contain">
           <h3 class="white-text">Our Physicians</h3>
            <p class="white-text">EHE's powerful approach to health care works because of the excellence of our physicians. You can expect nothing less than supportive guidance from compassionate experts, working in partnership with you to ensure you're comfortable with your care, and confident about your future.</p>
            <a href="<%= EHE_COMMANDERS_IN_WELLNESS %>" class="cta round-button button-white ProximaNova-Medium" data-container="meet-commanders" >Engage With Our Team</a>
        </div>
     </div>
   </div>
   </div>
</div>



    <!-- END meet our commanders in wellness -->

    <!-- START Our Story -->
     <div class="content-contain">

     <div class='row'>
        <div class='small-12 columns text-center'>
           <h3 class="drkr-gray-text">The EHE Difference</h3>
        </div>
     </div>
    <div class='row'>
        <div class='small-12 large-6 column'>
              <p>We believe that when you approach your health in a holistic way, you live differently &mdash; and better. Understanding how each facet of your life either contributes to or diminishes, your health inspires sustainable, life-changing habits promoting authentic long-term wellbeing.</p>
              
              <p>As an EHE patient, you'll receive a personalized action plan for feeling your best, alongside the innovative resources and support you need to succeed.</p>

        </div>
        <div class='small-12 large-6 column'>
           	  <p>You'll enjoy year-round support from a team of experts dedicated to optimizing how you eat, move, and think.</p>
              
              <p>Our unparalleled care provides the personal attention, guidance, and compassion you need to chart a new course &mdash; for life.</p>
        </div>
      </div>
</div>
   
   <!--        
    <div class='row'>
        <div class='small-12 large-8 large-centered columns text-center'>
             <div class="content-contain">
              <h3 class="drkr-gray-text">Vision and Values</h3>
              <p>When you see your health differently, you can live differently.</p>
              <p>Great health is more than avoiding illness. It's giving yourself the opportunity to do more and feel better, every day. It's connecting to the life you want with confidence and a clear picture of what's ahead.</p>
              <p>EHE gives you a completely new kind of care. It combines prevention and holistic wellness in an experience that enhances both and lights your path to sustained, better health.</p>
              <p>Our care is designed to give people the personal attention, guidance, and compassion they need to chart a new course. We believe the more you understand how the parts of your life fit together, the healthier you can be.</p>
              <p>Your health is not defined by limitations. We want your journey to be comfortable and optimistic.</p>
              <p>We see transformation as possible. We believe in the power of your potential.</p>
              <p>We want to show you your healthiest life.</p>
            </div>
        </div>
    </div> -->
    <!-- END Our Story -->
    <!-- START See Locations Nationwide -->
      <div class="row expanded locations-callout">
          <div class="small-12 large-8 large-centered columns text-center">
              <h3 class="white-text">Locations Nationwide</h3>
              <p class="white-text">EHE's expanded reach includes hundreds of doctors at locations across the United States &mdash; in small towns and big cities; giving patients like you consistent exceptional care.</p>
              <a href="<%= EHE_LOCATIONS %>" class="round-button button-white ProximaNova-Bold">SEE MORE</a>
          </div>
      </div>
    <!-- END See Locations Nationwide -->

    <!-- latest carousel -->
<div class="latest-contain">
<div class="row">
  <div class="small-10 small-centered text-center">
    <h3 class="gray-text title-w-lines"><span>LATEST</span></h3>
  </div>
</div>
<div class="expanded row">
  <div class="small-12">
    <div class="latest-container">
      <% @posts.each do |post| %>
        <div>
          <p class="white-text"><%= post.title %></p>
          <%= link_to image_tag(post.main_image.url(:medium)), post_path(post)  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
   <div class="small-12 text-center">
    <div class="content-contain bot-space-75">
      <%= link_to "SEE MORE", posts_path, :class => "round-button button-gray ProximaNova-Medium" %>
    </div>
   </div>
</div>
</div>
<!-- end latest carousel-->




<!--- Add in page specific JS  -->

<% content_for :js do %>
<script>
      var myParaxify = paraxify('.img-contain', {
      speed: 0,
      boost: 1
  });
</script>
<% end %>
