<% title 'Commanders In Wellness' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Coaches, Physicians' %>
<h1>Commanders In Wellness</h1>

<ul class="main-filter">
  <li class="<% if !params['filter'].present? || params['filter'] == '' then %>current<% end %>"><a href="/commanders"></a></li>
  <li class="<% if params['filter'] == 'physicians' then %>current<% end %>"><a href="/commanders?filter=physicians">Physicians</a></li>
  <li class="<% if params['filter'] == 'coaches' then %>current<% end %>"><a href="/commanders?filter=coaches">Wellness Coaches</a></li>
</ul>


<%= link_to "Physicians", commanders_path(filter: "physicians") %>
<%= link_to "Wellness Coaches", commanders_path(filter: "coaches") %>


<%= button_to "Physicians", commanders_path, params: {filter: "physicians"}, :method => :get %>
<%= button_to "Wellness Coaches", commanders_path, params: {filter: "coaches"}, :method => :get %>



<div class="container">
  <%= render @commanders %>
</div>
<div class="load-more-container">
  <%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
  <%= link_to "Load More", commanders_path, class: "load-more" %>
</div>
<% content_for :js do %>
  <script>
    document.addEventListener("DOMContentLoaded", function(event) {
      $('a.load-more').click(function (e) {
        e.preventDefault();
        $('.load-more').hide();
        $('.loading-gif').show();
        var last_id = $('.record').last().attr('data-id');

        $.ajax({
            type: "GET",
            url: $(this).attr('href'),
            data: {
                id: last_id
            },
            dataType: "script",
            success: function () {
                $('.loading-gif').hide();
                $('.load-more').show();
            }
        });
      });
    });
  </script>
<% end %>
