<% title 'Commanders In Wellness' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Coaches, Physicians' %>

<div class="page-header">
  <div class='row'>
      <div class='small-12'>
        <h1 class='title-heading text-center'>Commanders in wellness</h1>
      </div>
     </div>
      <div class='row'>
        <div class='small-12 large-6 column'>
              <p>Our leadership team represents the cutting edge of holistic preventive care. They have created a one-of-a-kind program for patient wellness, building on EHE’s 100-year track record of pioneering industry excellence.</p>
        </div>
        <div class='small-12 large-6 column'>
            <p>Under their guidance, EHE has further distinguished itself as the most innovative and effective preventive healthcare company.</p>
        </div>
      </div>
  </div>


    <!--<div class="columns large-12 medium-12">-->
        <ul class="tabs full-width commanders-in-wellness" data-tabs id="article-tabs">
            <li class="tabs-title is-active"><a href="#physician-articles" aria-selected="true" class="text-right"><span class="tabs-title-text ProximaNova-Bold">Physicians</span></a></li>
            <li class="tabs-title right-tab"><a href="#wellness-coach-articles" class="text-left"><span class="tabs-title-text ProximaNova-Bold">Wellness Coaches</span></a></li>
        </ul>

    <!--</div>-->
    <div class="tabs-content" data-tabs-content="article-tabs">
        <div class="tabs-panel is-active" id="physician-articles">
            <div class="row small-up-1 medium-up-2 large-up-3">
                <ul class="gridder clearfix">
                  <%= render @commanders %>
              </ul>
            </div>
            <%= render :partial => 'commanders/about', :collection => @commanders, :as => :commander %>

        <div class="load-more-container">
          <%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
          <%= link_to "Load More", commanders_path, class: "load-more" %>
        </div>

        </div>
    </div>


    <div class="tabs-content" data-tabs-content="article-tabs">
        <div class="tabs-panel" id="wellness-coach-articles">
            <div class="row small-up-1 medium-up-2 large-up-3">

                <ul class="gridder clearfix">

                    <li class="gridder-list column" data-griddercontent="#content1">
                        <div class="callout">
                            <img src="images/physician-placeholder.png" alt="">
                            <%= image_tag "physician-placeholder.png" %>
                            <%= image_tag "icon-commanders-arrow.png" %>
                            <p class="commander-title font-bold">Title Goes Here</p>
                            <p class="name">First and Last Name</p>
                        </div>
                    </li>
                    <li class="gridder-list column" data-griddercontent="#content2">
                        <div class="callout">
                            <%= image_tag "physician-placeholder.png" %>
                            <%= image_tag "icon-commanders-arrow.png" %>
                            <p class="commander-title font-bold">Title Goes Here</p>
                            <p class="name">First and Last Name</p>
                        </div>
                    </li>
                    <li class="gridder-list column" data-griddercontent="#content3">
                        <div class="callout">
                            <%= image_tag "physician-placeholder.png" %>
                            <%= image_tag "icon-commanders-arrow.png" %>
                            <p class="commander-title font-bold">Title Goes Here</p>
                            <p class="name">First and Last Name</p>
                        </div>
                    </li>
                    <li class="gridder-list column" data-griddercontent="#content1">
                        <div class="callout">
                            <%= image_tag "physician-placeholder.png" %>
                            <%= image_tag "icon-commanders-arrow.png" %>
                            <p class="commander-title font-bold">Title Goes Here</p>
                            <p class="name">First and Last Name</p>
                        </div>
                    </li>
                    <li class="gridder-list column" data-griddercontent="#content2">
                        <div class="callout">
                            <%= image_tag "physician-placeholder.png" %>
                            <%= image_tag "icon-commanders-arrow.png" %>
                            <p class="commander-title font-bold">Title Goes Here</p>
                            <p class="name">First and Last Name</p>
                        </div>
                    </li>
                    <li class="gridder-list column" data-griddercontent="#content3">
                        <div class="callout">
                            <%= image_tag "physician-placeholder.png" %>
                            <%= image_tag "icon-commanders-arrow.png" %>
                            <p class="commander-title font-bold">Title Goes Here</p>
                            <p class="name">First and Last Name</p>
                        </div>
                    </li>
                    <li class="gridder-list column" data-griddercontent="#content1">
                        <div class="callout">
                            <%= image_tag "physician-placeholder.png" %>
                            <%= image_tag "icon-commanders-arrow.png" %>
                            <p class="commander-title font-bold">Title Goes Here</p>
                            <p class="name">First and Last Name</p>
                        </div>
                    </li>
                    <li class="gridder-list column" data-griddercontent="#content2">
                        <div class="callout">
                            <%= image_tag "physician-placeholder.png" %>
                            <%= image_tag "icon-commanders-arrow.png" %>
                            <p class="commander-title font-bold">Title Goes Here</p>
                            <p class="name">First and Last Name</p>
                        </div>
                    </li>
                    <li class="gridder-list column" data-griddercontent="#content3">
                        <div class="callout">
                             <%= image_tag "physician-placeholder.png" %>
                            <%= image_tag "icon-commanders-arrow.png" %>
                            <p class="commander-title font-bold">Title Goes Here</p>
                            <p class="name">First and Last Name</p>
                        </div>
                    </li>

                </ul>
            </div>
        <div id="content1" class="gridder-content"><p>Dr. Levy is an accomplished physician executive with a record of achievement in complex systems involving patients and a range of organizations. He is a renowned strategic thinker who has executed effective strategies for his own enterprises and a diverse set of public and private sector entities. Drawing on a vast network of business relationships, Dr. Levy brings global best-in-practice solutions to the healthcare industry.</p>
            <p>At Franklin Health, Dr. Levy used his insights to create a scalable business that helped patients and families receive better, more satisfying care.</p>
            <p>As strategy leader at PwC, he led the effort to recommend public health and hospital reform for the Louisiana Recovery Authority after Hurricane Katrina. Dr. Levy then directed the team that helped California’s Department of Public Health re-engineer the state’s catastrophic surge response system. In both engagements, he successfully managed all of the stakeholders – including hospitals, private providers, payers, professional associations, and organized labor.</p>
            <p>At PwC, Dr. Levy elevated the firm’s worldwide healthcare practice to prominence by navigating an intricate matrix of domestic and international governance arrangements. His leadership helped PwC become an acclaimed solutions provider across all healthcare sectors in more than 30 countries.</p></div>
            <div id="content2" class="gridder-content"> 2 Content goes here... </div>
            <div id="content3" class="gridder-content"> 3 Content goes here... </div>

        </div>
    </div>




<ul class="main-filter">
  <li class="<% if !params['filter'].present? || params['filter'] == '' then %>current<% end %>"><a href="/commanders"></a></li>
  <li class="<% if params['filter'] == 'physicians' then %>current<% end %>"><a href="/commanders?filter=physicians">Physicians</a></li>
  <li class="<% if params['filter'] == 'coaches' then %>current<% end %>"><a href="/commanders?filter=coaches">Wellness Coaches</a></li>
</ul>


<%= link_to "Physicians", commanders_path(filter: "physicians") %>
<%= link_to "Wellness Coaches", commanders_path(filter: "coaches") %>


<%= button_to "Physicians", commanders_path, params: {filter: "physicians"}, :method => :get %>
<%= button_to "Wellness Coaches", commanders_path, params: {filter: "coaches"}, :method => :get %>


<!--
<div class="container">
  < %= render @commanders %>
</div>
<div class="load-more-container">
  < %= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
  < %= link_to "Load More", commanders_path, class: "load-more" %>
</div>
-->
<% content_for :js do %>
  <script>
    // Call Gridder
        $('.gridder').gridderExpander({
            scroll: true,
            scrollOffset: 200,
            scrollTo: "panel", // panel or listitem
            animationSpeed: 150,
            animationEasing: "easeInOutExpo",
            showNav: true, // Show Navigation
            nextText: "", // Next button text
            prevText: "", // Previous button text
            closeText: "", // Close button text
            onStart: function () {
                //Gridder Inititialized
                console.log('On Gridder Initialized...');
            },
            onContent: function () {
                //Gridder Content Loaded
                console.log('On Gridder Expand...', this);
            },
            onClosed: function () {
                //Gridder Closed
                console.log('On Gridder Closed...');
            }
        });



    document.addEventListener("DOMContentLoaded", function(event) {
      $('a.load-more').click(function (e) {
        e.preventDefault();
        $('.load-more').hide();
        $('.loading-gif').show();
        var last_id = $('.record').last().attr('data-id');

        $.ajax({
            type: "GET",
            url: $(this).attr('href'),
            data: {
                id: last_id
            },
            dataType: "script",
            success: function () {
                $('.loading-gif').hide();
                $('.load-more').show();
            }
        });
      });
    });
  </script>
<% end %>
