<% title 'Work Healthy' %>
<% description 'EHE is a pioneer in employee health and lifestyle management. The team is devoted to empowering individuals to lead productive and positive lives.' %>
<% keywords 'EHE, Work Healthy' %>
<div id="video-container" class="flex-video widescreen">
  <video autoplay="" loop="" muted class="home-video" ><!--  controls style="background-image: url(images/main-image-placeholder.jpg);">-->
    <source src=<%= asset_path('videos/Henry_1.mp4') %>>
    <source src=<%= asset_path('videos/Henry_1.webm') %> type="video/ogg">
  </video>
  <img src="images/main-image-placeholder.jpg" class="static-image" alt="">
  <div class="content-contain hero">
    <h1 class="white-text">Partners in Your<br>Health Journey</h1>
    <a href="#" class="white-text ProximaNova-Bold">Book Your Appointment</a>
  </div>
</div>
<!-- color row -->
<div class="expanded row">
  <div class="small-3 columns yellow color-bar" >
  </div>
  <div class="small-3 columns purple color-bar" >
  </div>
  <div class="small-3 columns blue color-bar" >
  </div>
  <div class="small-3 columns gray color-bar" >
  </div>
</div>
<!-- end color row -->


<div class="expanded row">
  <div class="small-12 medium-6 large-6 columns drkblue text-center blue-section">
    <div class="content-contain">
      <h3 class="white-text">Preventive Care</h3>
      <p class="white-text">Get a one-of-a-kind comprehensive health exam.</p>
      <a href="#" class="round-button button-white ProximaNova-Medium">LEARN MORE</a>
    </div>
  </div>
  <div class="small-12 medium-6 large-6 columns drkblue text-center blue-section">
    <div class="content-contain">
      <h3 class="white-text">Year-Round Wellness</h3>
      <p class="white-text">Reach your goals with personalized care.</p>
      <div><a href="#" class="round-button button-white ProximaNova-Medium">LEARN MORE</a></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-10 small-centered text-center white-section">
    <h3>Experience and Innovation in Personalized Care</h3>
    <p>Since our founding in 1913, EHE has led the way in preventive care and creating new paths to wellness. Our approach been transformative for generations of patients who have received the tools and guidance they need to live their healthiest lives.</p>
  </div>
</div>

<div class="expanded row coaches-section">
  <div class="img-contain paraxify"> </div>
  <div class="small-12">
    <div class="row">
      <div class="small-12 medium-5 medium-offset-1 text-center medium-text-left columns">
        <h3 class="white-text">Coaches</h3>
        <p class="white-text ProximaNova-Medium">Our coaches work with you to achieve higher levels of body and mind performance.</p>
      </div>
      <div class="small-12 medium-6 medium-offset-0 columns text-center medium-text-left large-text-center">
        <div class="content-contain">
          <a href="#" class="round-button button-white ProximaNova-Medium">LEARN MORE</a>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- latest carousel -->
<div class="row">
  <div class="small-10 small-centered text-center">
    <h3 class="gray-text title-w-lines"><span>LATEST</span></h3>
  </div>
</div>
<div class="expanded row">
  <div class="small-12">
    <div class="latest-container">
      <div>
        <p class="white-text">These Are the Best Stress Relief Toys and Tools</p>
        <%= image_tag "latest/latest-1.jpg" %>
      </div>
      <div>
        <p class="white-text">Learn How to Make Gluten-Free Banana Bread</p>
        <%= image_tag "latest/latest-2.jpg" %>
        </div>
      <div>
        <p class="white-text">Flu Symptoms You Need to Know</p>
        <%= image_tag "latest/latest-3.jpg" %>
      </div>
      <div>
        <p class="white-text">These Are the Best Stress Relief Toys and Tools</p>
        <%= image_tag "latest/latest-4.jpg" %>
      </div>
      <div>
        <p class="white-text">Learn How to Make Gluten-Free Banana Bread</p>
        <%= image_tag "latest/latest-5.jpg" %>
      </div>
      <div>
        <p class="white-text">Flu Symptoms You Need to Know</p>
        <%= image_tag "latest/latest-6.jpg" %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 text-center">
    <div class="content-contain bot-space-75">
      <a href="#" class="round-button button-gray ProximaNova-Medium">SEE MORE</a>
    </div>
  </div>
</div>
<!-- end latest carousel-->


