<!-- formerly PREVENTIVE CARE -->
<% title 'Our Approach' %>
<% description META_DESCRIPTION %>
<% keywords 'EHE, Preventive Care' %>
<div class="page-header">
    <div class='row'>
      <div class='small-12 column'>
        <h1 class='title-heading'>For You &mdash; The Benefits of EHE</h1>
      </div>
     </div>
        <div class='row'>
          <div class='small-12 column'>
                <p>EHE's holistic, preventive health care approach is a lifetime investment in your longevity, productivity, and performance. This is more than just a doctor's visit. You’ll receive a state-of-the-art, comprehensive health exam, cutting edge resources, and year-round access to our team of experts — here to guide and support you on your journey towards optimal health.</p>

    	  </div>

        </div>
    </div>
    
    
<!-- Tabs -->
<div class="row expanded">

    <div class='row hide-for-small-only'>
      <div class="small-12">
         <ul class="tabs white-background" data-tabs id="article-tabs">
         
         	<li class="tabs-title tabs-title-2-up is-active" role="presentation">
			  <a href="#prevention-article" aria-selected="true" class="text-right tabs-title-text custom-tabs-arrow font-bold" role="tab" aria-controls="prevention-article" id="prevention-article-label" tabindex="0">
			  Physicians</a>
			</li>
			<%# <li class="tabs-title tabs-title-3-up" role="presentation">
			  <a href="#performance-article" class="text-center tabs-title-text custom-tabs-arrow font-bold" role="tab" aria-controls="performance-article" aria-selected="false" id="performance-article-label" tabindex="-1">
			  Care Navigation</a>
			</li> %>
			<li class="tabs-title tabs-title-2-up" role="presentation">
			  <a href="#mind-health-article" class="text-left tabs-title-text custom-tabs-arrow font-bold" role="tab" aria-controls="mind-health-article" aria-selected="false" id="mind-health-article-label" tabindex="-1">
			  Health Mentors</a>
			</li>
         </ul>
     </div>
   </div>
 
 <!-- end Tabs -->
 
 <!-- Prevention Tabs content -->
     <div class="row expanded">
         <div class="small-12">
             <div class="tabs-content" data-tabs-content="article-tabs">
                 <div class="tabs-panel is-active" id="prevention-article"><!-- tabs-panel prevention-article -->
                     <div class="tab-content-title text-center show-for-small-only prevention">Physicians</div>
                     
                     <!--
                     <div class="tabs-title is-active">
                         <div class="tabs-title-text custom-tabs-arrow show-for-small-only font-bold">Prevention</div>
                     </div>
                     -->
                     <div class="row expanded">
                         <div class="small-12">
                             <div class="custom-article-group preventive-care prevention-bg">
                                 <div class="row expanded">
                                     <div class="large-6">
                                         <div class="custom-article-overlay prevention">
                                             <div class="row">
                                                 <div class="small-9 small-centered columns">
                                                     <p class="white-text ProximaNova-Medium">It's time to rethink what health means to you. At EHE, we believe in the power of prevention. Our accredited physicians and clinicians provide in-depth consultations that give you a deeper understanding of how your lifestyle habits are impacting your health, performance, and overall wellbeing.</p>
                                                 </div><!-- emd small 8 centered text -->
                                             </div><!-- end row -->
                                         </div><!-- emd custom art overlay performance -->
                                     </div><!-- emd larg 6 -->
                                 </div> <!-- end row -->
                             </div> <!-- end custom article group?? preventive care -->
                         </div><!-- small 12 close -->
                     </div><!-- row expanded close -->  
 
                     <!-- accordian -->
                     <!-- preventive-care-accordion-section -->
                     <!--
                     <section>
                     -->
                     <div class="row">
                         <div class="small-12">
                             <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                                 <li class="accordion-item" accordion-title data-accordion-item>
                                     <a href="#" class="accordion-title preventive-accordion-section font-bold accordionBtn">Who is my EHE doctor?</a>
                                     <div class="accordion-content" data-tab-content >
                                         <p>Our physicians are board certified, and many have received accolades for their commitment to excellence in medicine. Discover more <%= link_to "about our physicians here", commanders_url %>.</p>
                                     </div>
                                 </li>
                                 <li class="accordion-item" data-accordion-item>
                                     <a href="#" class="accordion-title preventive-accordion-section font-bold accordionBtn">How is my EHE physician different than a primary care physician?</a>
                                     <div class="accordion-content" data-tab-content>
                                         <p>Your EHE doctor complements and enhances your primary care experience. Your EHE doctor is focused on the most comprehensive preventive care that reduces your health risks by optimizing your lifestyle habits. It's a progressive approach to health that yields deeper insight into your unique health profile, and helps you establish habits conducive to better overall wellbeing.</p>
                                     </div>
                                 </li>
                                 
                                 <li class="accordion-item" data-accordion-item>
                                     <a href="#" class="accordion-title preventive-accordion-section font-bold accordionBtn">Will my employer see the results of my exam?</a>
                                     <div class="accordion-content" data-tab-content>
                                         <p>All records from your exam are completely confidential and are never shared with your employer. You can access your medical record by logging into <%= link_to "your EHE+Me account", EHEANDME_HOME %> or request a copy of by emailing <%= link_to "memberservices@eheintl.com", "mailto:memberservices@eheintl.com" %>.</p>
                                     </div>
                                 </li>
                                
                                <li class="accordion-item" data-accordion-item>
                                    <a href="#" class="accordion-title preventive-accordion-section font-bold accordionBtn">Do your physicians speak other languages?</a>
                                    <div class="accordion-content" data-tab-content>
                                        <p>Many of our doctors are multilingual. Please inform us of your language preference when booking your exam.</p>
                                    </div>
                                </li>

                                <li class="accordion-item" data-accordion-item>
                                    <a href="#" class="accordion-title preventive-accordion-section font-bold accordionBtn">What happens after my exam?</a>
                                    <div class="accordion-content" data-tab-content>
                                        <p>After your exam, our team works closely with you on clinical care coordination &mdash; helping you get connected with any recommended specialists. You'll also get support from our post-exam care team who'll help clarify the insights from your exam, and help you build a personalized action plan for year-round wellbeing with our health mentoring program.</p>
                                    </div>
                                </li>
                             </ul>
                         </div>
                     </div>
 
                 </div><!-- tabs-panel prevention-article -->
             </div><!-- tabs content 3 end -->
         </div><!-- small 12 end -->
     </div><!-- end expanded row -->
 <!-- End Prevention Tabs content -->
 
 <!-- Performance Tabs content -->
     <%# <div class="row expanded">
         <div class="small-12">
             <div class="tabs-content" data-tabs-content="article-tabs">
                 <div class="tabs-panel" id="performance-article"><!-- tabs-panel performance-article -->
                     <div class="tab-content-title text-center show-for-small-only performance">Care Navigation</div>
                     <div class="row expanded">
                         <div class="small-12">
                             <div class="custom-article-group preventive-care performace-bg">
                                 <div class="row expanded">
                                     <div class="large-6">
                                         <div class="custom-article-overlay performance">
                                             <div class="row">
                                                 <div class="small-9 small-centered columns">
                                                     <p class="white-text ProximaNova-Medium">Our care navigators makes your experience frictionless, from preparing for your first visit through post-exam wellness coordination. Your care navigator acts as a partner and case manager, helping you connect to your health mentor and personalized year-round care.</p>
                                                 </div><!-- emd small 8 centered text -->
                                             </div><!-- end row -->
                                         </div><!-- emd custom art overlay performance -->
                                     </div><!-- emd larg 6 -->
                                 </div> <!-- end row -->
                             </div> <!-- end custom article group?? preventive care -->
                         </div><!-- small 12 close -->
                     </div><!-- row expanded close -->  
 
                     <!-- accordian -->
                     <!-- performance-accordion-section -->
                     <!--
                     <section>
                     --> 
                     <div class="row">
                         <div class="small-12">
                             <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                                 <li class="accordion-item" accordion-title data-accordion-item>
                                     <a href="#" class="accordion-title performance-accordion-section font-bold accordionBtn">Why is Care Navigation important during my EHE visit?</a>
                                     <div class="accordion-content" data-tab-content >
                                         <p>It makes your health journey seamless and convenient. Care Navigation gets you prepared for the visit, makes the in-clinic experience easy, creates your blueprint for long-term wellness, and connects you with the Health Mentor who will be your collaborator on those next steps. We want you to have every question answered and every resource accessible. Care Navigators make that possible.</p>
                                     </div>
                                 </li>
                                 <li class="accordion-item" data-accordion-item>
                                     <a href="#" class="accordion-title performance-accordion-section font-bold accordionBtn">How do I get a Care Navigator?</a>
                                     <div class="accordion-content" data-tab-content>
                                         <p>You get one as soon as you schedule your visit. Care Navigation is a central part of the EHE experience, and every patient is assigned a Care Navigator to guide the process and make everything go as smoothly as possible. You do not need to make any special arrangement to receive the advantages of EHE care navigation.</p>
                                     </div>
                                 </li>
                                 <li class="accordion-item" data-accordion-item>
                                     <a href="#" class="accordion-title performance-accordion-section font-bold accordionBtn">Do I have to pay for a Care Navigator?</a>
                                     <div class="accordion-content" data-tab-content>
                                         <p>No. The Care Navigator is part of the core team (along with doctors, nurses, and health mentors) who are there for you throughout your EHE experience. It's all included in your benefit. </p>
                                     </div>
                                 </li>
                                 <li class="accordion-item" data-accordion-item>
                                    <a href="#" class="accordion-title performance-accordion-section font-bold accordionBtn">What's the difference between a Care Navigator and a Health Mentor?</a>
                                    <div class="accordion-content" data-tab-content>
                                        <p>Your Care Navigator guides you through the exam and the post-exam outlining of a plan for achieving your health goals. Your Health Mentor is the collaborator who works closely with you in the long term to make those goals a reality. Essentially, think of the Care Navigator as your case manager, while your Health Mentor serves as your coach.</p>
                                    </div>
                                </li>
                                
                             </ul>
                         </div>
                     </div>
 
                 </div><!-- tabs-panel performance-article -->
             </div><!-- tabs content 3 end -->
         </div><!-- small 12 end -->
     </div><!-- end expanded row -->
 <!-- End Performance Tabs content --> %>
 
 <!-- Mind health Tabs content -->
    <div class="row expanded">
         <div class="small-12">
             <div class="tabs-content" data-tabs-content="article-tabs">
                 <div class="tabs-panel" id="mind-health-article"><!-- tabs-panel mind-health-article -->
                     <div class="tab-content-title text-center show-for-small-only mind-health">Health Mentors</div>
                     <div class="row expanded">
                         <div class="small-12">
                             <div class="custom-article-group preventive-care longevity-bg">
                                 <div class="row expanded">
                                     <div class="large-6">
                                         <div class="custom-article-overlay mind-health">
                                             <div class="row">
                                                 <div class="small-9 small-centered columns">
                                                     <p class="white-text ProximaNova-Medium">Our health mentors empower you to commit yourself to greater levels of health and wellbeing. They provide expertise, empathy, and motivational support as you embark upon your new wellbeing track. Your health mentor offers ongoing support as you create new habits and build on the success of existing ones, and helps you assess how your lifestyle choices are impacting your short and long-term health goals.</p>
                                                 </div><!-- emd small 8 centered text -->
                                             </div><!-- end row -->
                                         </div><!-- emd custom art overlay performance -->
                                     </div><!-- emd larg 6 -->
                                 </div> <!-- end row -->
                             </div> <!-- end custom article group?? preventive care -->
                         </div><!-- small 12 close -->
                     </div><!-- row expanded close -->  
 
                     <!-- accordian -->
                     <!-- mind-health-accordion-section -->
                     <!--
                     <section>
                     -->
                     <div class="row">
                         <div class="small-12">
                             <ul class="custom-accordion accordion" data-accordion data-allow-all-closed="true">
                                 <li class="accordion-item" accordion-title data-accordion-item>
                                     <a href="#" class="accordion-title mind-health-accordion-section font-bold accordionBtn">What kinds of health concerns can I address with mentoring?</a>
                                     <div class="accordion-content" data-tab-content >
                                         <p>You can target all types of wellbeing goals with your health mentor. Whether your aim is weight loss, smoking cessation, better sleep, refining work-life balance, upgrading your fitness regimen, or any number of other lifestyle-oriented health modifications, your mentor will assist you every step of the way.</p>
                                     </div>
                                 </li>
                                 <li class="accordion-item" data-accordion-item>
                                     <a href="#" class="accordion-title mind-health-accordion-section font-bold accordionBtn">Do I have to pay for health mentoring?</a>
                                     <div class="accordion-content" data-tab-content>
                                         <p>Health mentoring is already part of your EHE benefit, like lead navigation and the comprehensive health exam itself. There’s no additional cost for your time with a health mentor.</p>
                                     </div>
                                 </li>
                                 <li class="accordion-item" data-accordion-item>
                                     <a href="#" class="accordion-title mind-health-accordion-section font-bold accordionBtn">Can I pick my health mentor?</a>
                                     <div class="accordion-content" data-tab-content>
                                         <p>You will get connected to a health mentor whose background and skills are aligned with your unique health profile and specific wellbeing goals.</p>
                                     </div>
                                 </li>
                                 <li class="accordion-item" data-accordion-item>
                                     <a href="#" class="accordion-title mind-health-accordion-section font-bold accordionBtn">How often can I speak to a health mentor?</a>
                                     <div class="accordion-content" data-tab-content>
                                         <p>Your mentor will collaborate with you in creating a schedule that fits your needs. You can check in with your health mentor as often as makes sense for your goals. This partnership is intended to be personal &mdash; there is no set limit for calls or correspondence within your eligible year.</p>
                                     </div>
                                 </li>
                                
                             </ul>
                         </div>
                     </div>
 
                 </div><!-- tabs-panel mind-health-article -->
             </div><!-- tabs content 3 end -->
         </div><!-- small 12 end -->
     </div><!-- end expanded row -->
 <!-- End Mind health Tabs content -->  
    
    </div>
    
<!-- Book your appointment call to action -->
<div class="expanded row book-your-appointment img-contain paraxify">
  <div class="color-overlay"> </div>
   <div class="small-12">
   <div class="row">
     <div class="small-8 small-centered columns text-center">
          <div class="content-contain">
            <a href="<%= EHEANDME_LANDING_URI %>" class="cta ProximaNova-Medium white-text" data-container="book-your-appointment" >BOOK YOUR APPOINTMENT <svg class="icon circle-arrow"><use xlink:href="#arrow-circle-white" /></svg></a>
          </div>
     </div>
   </div>  
   </div>
</div>
     <!-- Patient Portal content --> 
    <div class='row'>
        <div class='small-12 large-8 large-centered columns text-center'>
             <div class="content-contain">
              <h3 class="drkr-gray-text">The Patient Portal</h3>
              <p>EHE+Me is our interactive patient platform that offers a seamless health care experience. You can connect here to set up appointments, coordinate clinical care, ask questions, and access your health record.</p>
               <a href="<%= EHEANDME_HOME %>" class="round-button button-gray ProximaNova-Medium" data-container="coaches-section" >SEE MY ACCOUNT</a>
            </div>
        </div>
    </div>
 <!-- End Patient Portal content -->     

<!--- Add in page specific JS  -->

<% content_for :js do %>
  <script>
      var myParaxify = paraxify('.img-contain', {
          speed: 0,
          boost: 1
      });
      var isBreakPoint = function (bp) {
            var bps = [0, 685, 1024, 1200, 1440],
                w = $(window).width(),
                min, max
            for (var i = 0, l = bps.length; i < l; i++) {
            if (bps[i] === bp) {
                min = bps[i-1] || 0
                max = bps[i]
                break
            }
            }
            return w > min && w <= max
        }

        $(window).on('changed.zf.mediaquery', function(event, newSize, oldSize) {
            // newSize is the name of the now-current breakpoint, oldSize is the previous breakpoint
            //alert("newSize: "+newSize);
            setTabsMediaQuery(event, newSize, oldSize);
        });

        $(window).on("load orientationchange", function(event, newSize, oldSize) {
            //doSomething();
            console.log('load, or orientationchange');
            //if (isBreakPoint(685)) { 
            /*
            if(Foundation.MediaQuery.current == "small"){
                newSize = "small";
            }
            */
            
            setTabsMediaQuery(event, Foundation.MediaQuery.current, oldSize);
        });

        function setTabsMediaQuery(event, newSize, oldSize){
            console.log('setTabsMediaQuery event:'+event);
            console.log('setTabsMediaQuery newSize:'+newSize);
            console.log('setTabsMediaQuery oldSize:'+oldSize);
            if( newSize == "small"){
                $( "#prevention-article" ).addClass( "is-active" );//add
                $( "#performance-article" ).addClass( "is-active" );//add
                $( "#mind-health-article" ).addClass( "is-active" );//add
                if( $("#tab-prevention-article").hasClass( "is-active" ) ){
                    $("html, body").animate({ scrollTop: $('#prevention-article').offset().top - (window.innerHeight/2) }, 0);
                }
                if( $("#tab-performance-article").hasClass( "is-active" ) ){
                    $("html, body").animate({ scrollTop: $('#performance-article').offset().top - (window.innerHeight/2) }, 0);
                }
                if( $("#tab-mind-health-article").hasClass( "is-active" ) ){
                    $("html, body").animate({ scrollTop: $('#mind-health-article').offset().top - (window.innerHeight/2) }, 0);
                }
                
            }else{
                if(oldSize=="small"){
                    $("html, body").animate({ scrollTop: $('#tab-prevention-article').offset().top - (window.innerHeight/2) }, 0);
                }
                
                if( $("#tab-prevention-article").hasClass( "is-active" ) ){
                    $( "#prevention-article" ).addClass( "is-active" );//add
                    $( "#performance-article" ).removeClass( "is-active" );
                    $( "#mind-health-article" ).removeClass( "is-active" );
                }
                if( $("#tab-performance-article").hasClass( "is-active" ) ){
                    $( "#prevention-article" ).removeClass( "is-active" );
                    $( "#performance-article" ).addClass( "is-active" );//add
                    $( "#mind-health-article" ).removeClass( "is-active" );
                }
                if( $("#tab-mind-health-article").hasClass( "is-active" ) ){
                    $( "#prevention-article" ).removeClass( "is-active" );
                    $( "#performance-article" ).removeClass( "is-active" );
                    $( "#mind-health-article" ).addClass( "is-active" );//add
                }
            }
        }
       $('.accordionBtn').on('click', function(event) {
            $('html,body').animate({scrollTop: $(event.target).offset().top-300}, 'slow');
        });
  </script>
<% end %>