
<%= form_with(model: [ 'admin', commander], multipart: true, local: true) do |form| %>
  <% if commander.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(commander.errors.count, "error") %> prohibited this commander from being saved:</h2>

      <ul>
      <% commander.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if commander.avatar.present? %>
      <%= image_tag commander.avatar.url(:thumb) %>
    <% end %>
    <%= form.label :avatar %>
    <%= form.file_field :avatar, id: :commander_avatar, value: commander.avatar.url() %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :commander_title %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :commander_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :commander_last_name %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about, id: :commander_about %>
  </div>


   <div class="field">
    <%= form.label :type %>
    <%= form.collection_select "commander_type_id", CommanderType.all, "id", "name", {include_blank: true} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
