<%= form_with(model: [ 'admin', post], local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>For Locking A Post set to 'locked' and add a Username and Password for the Post</p>
    <div class="field">
      <%= form.label :locked %>
      <%= form.check_box :locked, id: :locked %>
    </div>
    <div class="password_fields">
      <div class="field">
        <%= form.label :username %>
        <%= form.text_field :username %>
      </div>
      <div class="field">
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>
      <div class="field">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :featured %>
    <%= form.check_box :featured %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select(:status, ['preview', 'published', 'scheduled', 'archived' ],{}, {selected: post.status, id: "post_status"})  %>
  </div>

  <div class="field published-field">
    <%= form.label :published_at %>
    <%= form.text_field :published_at, :class => "published_at", id: "published" %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :all_tags, placeholder: "Tags separated with comma" %>
  </div>

  <div class="field">
    <%= form.label :keywords %>
    <%= form.text_field :all_keywords, placeholder: "Keywords separated with comma" %>
  </div>

   <div class="field">
    <%= form.label :meta_description %>
    <%= form.text_area :meta_description, placeholder: "Meta Description" %>
  </div>

  <div class="field" id="campaign">
    <%= form.label :campaign %>
    <%= form.collection_select "campaign_id", Campaign.all, "id", "name", {:class => "campaign", include_blank: true} %>
  </div>

   <div class="field">
    <%= form.label :category %>
    <%= form.collection_select "category_id", Category.all, "id", "name" %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug, id: :post_slug %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :featured_image %>
    <%= form.file_field :main_image, id: :post_main_image %>
  </div>

  <div class="post-body">
    <%= form.label :body %>
    <%= form.cktext_area :body, id: :post_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<script type="text/javascript">
  $('[data-form-prepend]').click( function(e) {
    var obj = $( $(this).attr('data-form-prepend') );
    obj.find('input, select, textarea').each( function() {
      $(this).attr( 'name', function() {
        return $(this).attr('name').replace( 'new_record', (new Date()).getTime() );
      });
    });
    obj.insertBefore( this );
    return false;
  });
</script>


