<div class="admin-posts admin">
 <div class="page-header">
  <div class='row  bot-space-25'>
      <div class='small-12 columns'>
        <h1 class='title-heading text-center'>Edit Checked Posts</h1>
      </div>
    </div>
  </div>

<div class='row bot-space-25'>
  <div class='small-12 columns'>
  <h3>Selected Posts</h3>
<%= form_tag update_multiple_admin_posts_path, method: :put do %>
   <ul>
    <% @posts.each do |post| %>
      <li>
        <%= hidden_field_tag "post_ids[]", post.id %>
        <%= post.title %>
      </li>
    <% end %>
  </ul>
  </div>
  </div>
 <div class='row'>
  <div class='small-12 columns'>

    <%= fields_for :post do |f| %>
      <div class="field" id="campaign">
        <%= f.label :campaign %>
        <%= f.collection_select "campaign_id", Campaign.all, "id", "name", {:class => "campaign", include_blank: true} %>
      </div>

       <div class="field">
        <%= f.label :category %>
        <%= f.collection_select "category_id", Category.all, "id", "name", include_blank: true %>
      </div>
      <div class="field">
        <%= f.label :status %>
        <%= f.select(:status, ['preview', 'published', 'archived' ], include_blank: true)  %>
      </div>
  <% end %>
  <%= submit_tag "Update" %>
<% end %>
  </div>
  </div>
</div>
