<div class="page-header">
  <div class='row'>
    <div class='small-12'>
      <h1 class='title-heading text-center'>Posts</h1>
      <%= button_to 'New Post', new_admin_post_path, :class => 'large-offset-5 text-center' %>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <table>
          <thead>
              <th><%= sortable "title" %></th>
              <th><%= sortable "category_id","cagtegory" %></th>
              <th><%= sortable "campaign_id", "campaign" %></th>
              <th><%= sortable "preview" %></th>
              <th><%= sortable "published" %></th>
              <th><%= sortable "created_at", "Created" %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.title %></td>
                <% if !post.category.blank? %>
                  <td><%= post.category.name %></td>
                <% else %>
                  <td>category not set</td>
                <% end %>
                <% if !post.campaign.blank? %>
                  <td><%= post.campaign %></td>
                <% else %>
                  <td>campaign not set</td>
                <% end %>
                <td></td>
                <td><%= post.status %></td>
                <td><%= post.created_at.strftime('%m/%d/%Y') %></td>
                <td><%= link_to 'Show', admin_post_path(post.slug) %> |
                    <%= link_to 'Edit', edit_admin_post_path(post) %> |
                    <%= link_to 'Destroy', admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>
      </div>
    </div>
  </div>
</div>
