<div class="page-header">
  <div class='row'>
    <div class="row">
      <div class="small-12 columns">
        <div class="row">
          <h4>Post Status: <%= @post.status %></h4>
            <% if @post.status == "scheduled" %>
            <%  %>
              <h4>Will be published on: <%= @post.published_at %></h4>
            <% end %>
            <% unless @post.published? %>
              <%= button_to "Publish Now", admin_publish_post_path(@post) %>
            <% end %>
        </div>
        <div>
          <h1>Title: <%= @post.title %></h1>
          <h3>url: <%= @post.slug %></h3>
          <h5>By: <%= %> | <%= @post.created_at.to_time.strftime('%B %e %Y') %></h5>
          <p>Featured Image: <%= image_tag @post.main_image.url(:medium) %></p>
          <p>Tags: <%= @post.all_tags %></p>
          <p>Keywords: <%= @post.all_keywords %></p>
          <p><%= @post.body.html_safe %></p>
        </div>
      </div>
      <%= link_to 'Edit', edit_admin_post_path(@post) %> |
      <%= link_to 'Back', admin_posts_path %>
    </div>
  </div>
</div>
