<!-- <div class="record" data-id="< %= commander.id %>">
  <div>
    < %= image_tag commander.avatar.url(:medium) %>
  </div>
  <h1>< %= commander.title %></h1>
  <h2>< %= commander.first_name %> < %= commander.last_name %></h2>
  <p>< %= commander.about %></p>
</div>
-->

<li class="gridder-list column" data-griddercontent="#<%= commander.id %>" data-id="<%= commander.id %>">
      <div class="callout">
         <%= image_tag commander.avatar.url(:medium) %><!-- <img src="images/physician-placeholder.png" alt="">-->
          <img class="com-arrow" src="images/icon-commanders-arrow.png" alt="">
          <p class="commander-title font-bold"><%= commander.title %></p>
          <p class="name"><%= commander.first_name %> <%= commander.last_name %></p>
      </div>
</li>
<!-- The about content for the DRs really needs to load outside here in another area -->
<div id="#<%= commander.id %>" class="gridder-content"><p><%= commander.about %></p></div>
