<h1><%= params[:filter].upcase %></h1>
<% @commanders.each do |cm| %>
  <%= image_tag cm.avatar.url(:medium)  %> <br>
  <%= cm.title %> <br>
  <%= cm.first_name %> <%= cm.last_name %> <br>
  <%= cm.about %>
<% end %>

