<% title 'Log In' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Log In' %>
<!-- heading -->
<div class="page-header">
  <div class='row'>
    <div class='small-12'>
      <h1 class='title-heading text-center'>Log In</h1>
    </div>
  </div>
</div>
<div class='row'>
  <div class='small-12 medium-8 large-8 medium-push-4 large-push-3 columns'>
    <div id="contact-us-signup-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>




