<div class="page-header">
  <div class="row">
    <div class="small-12 columns">
      <h2>Category:  <%= @category.name %></h2>
      <% if @category.featured_post %>
        <h4>Featured Post:  <%= @category.featured_post.title %></h4>
        <p><%= image_tag @category.featured_post.main_image.url(:thumb) %></p>
      <% end %>
    </div>
    <div>
      <%= link_to 'Edit', edit_admin_category_path(@category) %> |
      <%= link_to 'Back', admin_categories_path %>
    </div>
  </div>
</div>

<div class="page-header">
  <div class='row'>
    <div class='small-12'>
      <h1 class='title-heading text-center'>Set Featured Post</h1>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <table>
          <thead>
              <th>Featured Image</th>
              <th><%= sortable "title" %></th>
              <th><%= sortable "category" %></th>
              <th><%= sortable "campaign" %></th>
              <th><%= sortable "status" %></th>
              <th><%= sortable "created_at", "Created" %></th>
              <th></th>
              <th>Set As Featured</th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.featured?  %></td>
                <td><%= image_tag post.main_image.url(:thumb) %></td>
                <td><%= truncate(post.title, length: 37, omission: "...") %></td>
                <% if !post.category.blank? %>
                  <td><%= post.category.name %></td>
                <% else %>
                  <td>category not set</td>
                <% end %>
                <% if !post.campaign.blank? %>
                  <td><%= post.campaign.name %></td>
                <% else %>
                  <td>campaign not set</td>
                <% end %>
                <td><%= post.status %></td>
                <td><%= post.created_at.strftime('%m/%d/%Y') %></td>
                <td>
                  <%= button_to "Save as Featured",  set_featured_admin_post_path(post.id),
                      params: {'category' => @category},local: true, :id => "setFeatured", :class => "button button-success" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="post-pagination">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>
