<% title 'Blog' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Blog' %>
<!-- Blog hero image -->
<div class="row expanded bot-space-25">
  <% if @featured_post %>
     <%= link_to post_path(@featured_post)  do %>
      <div class="small-12 blog-hero" style="background: url(<%= @featured_post.main_image.url(:medium) %>) no-repeat center center; background-size: cover;">
        <div class="row bot-space-25">
          <div class="small-12 column">
            <div class="content-contain">
              <h1 class="title-heading white-text"><%= @featured_post.title %></h1>
              <p class="white-text"><%= @featured_post.meta_description %></p>
              <p class="white-text"><%= h @featured_post.created_at.to_s(:post_date) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="small-12 blog-hero" style="background: url(../assets/latest/Heart-Health-768x459.jpg) no-repeat center center; background-size: cover;">
      <div class="row bot-space-25">
        <div class="small-12 column">
          <div class="content-contain">
            <h1 class="title-heading white-text">FEATURED STORY</h1>
            <p class="white-text">Get Inspired to Pump Up Your Heart Health!</p>
            <p class="white-text">DEC 1st, 2017</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- end Blog hero image -->
<!-- blog nav -->
<div class="row bot-space-25">
 <div class="small-12 columns">
   <ul id="blog-nav">
    <% if @posts.any? %>
      <li><%= link_to "All", posts_path, :class => "active ProximaNova-Medium", data_id: @posts.last.id %></li>
    <% else %>
      <li><%= link_to "All", posts_path, :class => "active ProximaNova-Medium" %></li>
    <% end %>
    <% @categories.each do |category| %>
      <% if category.name == "Uncategorized" && category.posts.length <= 0 %>
      <% else %>
        <% if @posts.any? %>
          <li><%= link_to category.name, posts_path(:filter => category.name, :id => @posts.last.id), :class => "ProximaNova-Medium" %></li>
        <% else %>
          <li><%= link_to category.name, posts_path(:filter => category.name), :class => "ProximaNova-Medium" %></li>
        <% end %>
      <% end %>
    <% end %>
    <li>
      <%= form_tag(posts_path, :method => "get", id: "blog-search") do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search", :class => "input-group-field" %>
          <div class="input-group-button">
            <button class="button-search" type="submit" value="Submit">
              <svg class="icon"><use xlink:href="#magnify-glass" /></svg>
            </button>
          </div>
        </div>
      <% end %>
    </li>
   </ul>
 </div>
</div>
<!-- end blog nav -->
<!-- start blog listing container -->
<div class="blog-container bot-space-65">
  <div class='row'>
    <% @posts.each_with_index do |post, index| %>
      <%= link_to post_path(post) do %>
        <div class="record <%= get_row_class(index) %>" data_id="<%= post.id %>" style="background-image: url(<%= post.main_image.url(:medium) %>);">
          <div class="content-container">
            <p class="white-text"><%= post.title %></p>
            <p class="white-text"><%= h post.created_at.to_s(:post_date) %></p>
          </div>
          <div class="color-block"></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="container row">
</div>

</div>
<!-- end blog listing container -->
<!-- LOAD MORE -->
<div class="row bot-space-75">
  <div class="small-12 medium-4 small-centered column text-center">
    <a href="" class="load-more text-center load-more-button ProximaNova-Bold">LOAD MORE <svg class="icon"><use xlink:href="#down-arrow" /></svg></a>
    <%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
  </div>
</div>
<!-- END LOAD MORE -->
<% content_for :js do %>
  <script type="text/javascript">
    $(document).ready(function () {
      function get(name){
         if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
      };

      $('a.load-more').click(function (e) {
          e.preventDefault();
          $('.load-more').hide();
          $('.loading-gif').show();
          var last_id = $('.record').last().attr('data_id');
          var filter = get("filter");
          var pathname = window.location.pathname;
          if(pathname.includes("tags")) {
            var tag = decodeURI(pathname.split("/").pop());
          };
          var search = get("search");
          var data = {};

          if(filter) {
            data['filter'] = filter
          }
          if(last_id) {
            data['id'] = last_id
          }
          if(tag){
            data['tag'] = tag
          }
          if(search) {
            data['search'] = search
          }
          $.ajax({
              type: "GET",
              url: "/blog",
              data: data,
              dataType: "script",
              success: function () {
                  $('.loading-gif').hide();
                  $('.load-more').show();
              }, function(err) {
                console.log("ERROR::: ", err);
              }
          });
      });
    });
  </script>
<% end %>

