<% title 'Blog' %>
<% description 'For over 100 years, EHE has been the leader in healthcare and wellbeing. We are pioneers in employee health and lifestyle management and are devoted to emp' %>
<% keywords 'EHE, Blog' %>
<!-- Blog hero image -->
<div class="row expanded bot-space-25">
  <% if @featured_post %>
     <%= link_to post_path(@featured_post)  do %>
      <div class="small-12 blog-hero" style="background: url(<%= @featured_post.main_image.url(:medium) %>) no-repeat center center; background-size: cover;">
        <div class="row bot-space-25">
          <div class="small-12 column">
            <div class="content-contain">
              <h1 class="title-heading white-text"><%= @featured_post.title %></h1>
              <p class="white-text"><%= @featured_post.meta_description %></p>
              <p class="white-text"><%= h @featured_post.created_at.to_s(:post_date) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="small-12 blog-hero" style="background: url(../assets/latest/Heart-Health-768x459.jpg) no-repeat center center; background-size: cover;">
      <div class="row bot-space-25">
        <div class="small-12 column">
          <div class="content-contain">
            <h1 class="title-heading white-text">FEATURED STORY</h1>
            <p class="white-text">Get Inspired to Pump Up Your Heart Health!</p>
            <p class="white-text">DEC 1st, 2017  eheintel.com</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- end Blog hero image -->
<!-- blog nav -->
<div class="row bot-space-25">
 <div class="small-12 columns">
   <ul id="blog-nav">
    <li><%= link_to "All", posts_path, class: "active ProximaNova-Medium" %></li>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, posts_path(:filter => category.name), class: "ProximaNova-Medium" %></li>
    <% end %>
    <li>
      <%= form_tag(posts_path, :method => "get", id: "blog-search") do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "input-group-field" %>
          <div class="input-group-button">
            <button class="button-search" type="submit" value="Submit">
              <svg class="icon"><use xlink:href="#magnify-glass" /></svg>
            </button>
          </div>
        </div>
      <% end %>
    </li>
   </ul>
 </div>
</div>
<!-- end blog nav -->
<!-- start blog listing container -->
<div class="blog-container bot-space-65">
  <div class='row'>
    <% @first_blog_row.each_with_index do |post, index| %>
      <%= link_to post_path(post) do %>
        <div class="<%= get_first_row_class(index, 1) %>" style="background-image: url(<%= post.main_image.url(:medium) %>);">
          <div class="content-container">
            <p class="white-text"><%= post.title %></p>
            <p class="white-text"><%= h post.created_at.to_s(:post_date) %>  eheintel.com</p>
          </div>
          <div class="color-block"></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='row'>
    <% @second_blog_row.each_with_index do |post, index| %>
      <%= link_to post_path(post) do %>
        <div class='small-4 columns' style="background-image: url(<%= post.main_image.url(:medium) %>);">
          <div class="content-container">
            <p class="white-text"><%= post.title %></p>
            <p class="white-text"><%= h post.created_at.to_s(:post_date) %>  eheintel.com</p>
          </div>
          <div class="color-block"></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='row'>
    <% @third_blog_row.each_with_index do |post, index| %>
      <%= link_to post_path(post) do %>
        <div class="<%= get_first_row_class(index, 3) %>" style="background-image: url(<%= post.main_image.url(:medium) %>);">
          <div class="content-container">
            <p class="white-text"><%= post.title %></p>
            <p class="white-text"><%= h post.created_at.to_s(:post_date) %>  eheintel.com</p>
          </div>
          <div class="color-block"></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<!-- end blog listing container -->
<!-- LOAD MORE -->
<div class="row">
  <div class="small-12 medium-4 small-centered column text-center">
    <a href="" class="text-center load-more-button ProximaNova-Bold add-arrow-below">LOAD MORE</a>
  </div>
</div>
<!-- END LOAD MORE -->



