<% title @post.title %>
<% description @post.meta_description %>
<% keywords "EHE, #{@post.all_tags}"  %>
<!-- Blog hero image -->
    <div class="bot-space-75">
        <div id="blog-hero-container">
            <div class="row no-bottom-margin" >
                <div class="content-contain hero">
                    <h1 class="title-heading white-text">BLOG</h1>
                </div>
            </div>
            <img src="images/blog-story-hero-bg-placeholder.jpg" alt="">
        </div>
    </div>
    <div class='row'>
        <div class="small-12">
            
        <!-- left column -->
                <div class='small-12 large-3 column'>
                    <!-- Today's Date -->
                    <div class="row">
                        <div class="bot-space-75">
                            <p class="gray-text font-bold"><%= @post.created_at.to_time.strftime('%B %e %Y') %></p>
                            <p>
                            eheintel.com
                            </p>
                        </div>
                    </div>
                    <!-- End Today's Date -->
                    <!-- SHARE Social Media -->
                    <div class="row">
                        <div class="bot-space-75">
                            <p class="font-bold">
                            SHARE
                            </p>
                            <!--  social container -->
                            <div class="social-icons-container">
                                <div class="small-4 large-4">
                                    <a href="https://www.instagram.com/eheintl/" target="_blank"><img class="social-icons" src="images/icon-instagram.png" alt="instagram"></a>
                                    <a href="https://www.facebook.com/ehehealth/" target="_blank"><img class="social-icons" src="images/icon-facebook.png" alt="facebook"></a>
                                    <a href="https://twitter.com/EHEIntl/" target="_blank"><img class="social-icons" src="images/icon-twitter.png" alt="twitter"></a>
                                    <a href="https://www.youtube.com/user/EHEintl100/" target="_blank"><img class="social-icons" src="images/icons-youtube.png" alt="youtube"></a>
                                </div>
                            </div><!-- end social container -->
                        </div>
                    </div>
                    <!-- End SHARE Social Media -->
                    <!-- Additional Blog posts -->
                    <div class="row">
                        <div class="bot-space-75">
                            <p class="gray-text">DEC 1st, 2017  |  Blog</p>
                            <a href="#" class="drkr-blue-text font-bold">
                            These Are the Best Stress Relief Toys and Tools
                            </a>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="bot-space-75">
                            <p class="gray-text">DEC 1st, 2017  |  PR</p>
                            <a href="#" class="drkr-blue-text font-bold">
                            Make These Amazing and Healthy Holiday Cocktails
                            </a>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="bot-space-75">
                            <p class="gray-text">DEC 1st, 2017  |  News</p>
                            <a href="#" class="drkr-blue-text font-bold">
                            How to Soothe Your Holiday Stress
                            </a>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="bot-space-75">
                            <p class="gray-text">DEC 1st, 2017  |  Blog</p>
                            <a href="#" class="drkr-blue-text font-bold">
                            How to Spread Good Health with Holiday Gifts
                            </a>
                            
                        </div>
                    </div>
                    <!-- End Additional Blog posts -->
                </div>
        <!-- end left column -->
        <div class='small-12 large-8 columns'>
                <!-- Blog Story -->
                        <div class="bot-space-75">
                            <h3 class="gray-text"><%= @post.title %></h3>
                                
                            <%=raw @post.body %>
                        </div>
                <!-- end Blog Story -->
                <!-- blog-comment -->
                        <div class="blog-comment bot-space-95">
                            <div class="small-12 blog-user-info bot-space-65">
                                <p>
                                    <span class="blog-user-info font-bold">Helovescookies  |</span>
                                    <span class="blog-user-info float-right">12.01.2017</span>
                                    <span class="float-right">0.00.00 PM</span>
                                </p>
                            </div>
                            <p class="bot-space-65">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                            </p>
                            <div class="small-12 bot-space-65">
                                <p>
                                    <span class="">{ICON}</span>
                                    <span class="float-right">Reply to</span>
                                    <span class="font-bold float-right">Helovescookies</span>
                                </p>
                            </div>
                                
                        </div>
                <!-- end blog-comment -->
                            
                <!-- blog-story-form -->
                            <div id="blog-story-form">
                                <form>
                                    <div class="row">  
                                        <div class="small-12 medium-6 columns">
                                            <input class="input-group-field" id="first-name" type="text" placeholder="First Name">
                                        </div>
                                        <div class="small-12 medium-6 columns">
                                            <input class="input-group-field" id="last-name" type="text" placeholder="Last Name">
                                        </div>
                                    </div>  
                                    <div class="row">  
                                        <div class="small-12 medium-6 columns">
                                            <input class="input-group-field" id="company-name" type="text" placeholder="Company Name">
                                        </div>
                                        <div class="small-12 medium-6 columns">
                                            <input class="input-group-field" id="email" type="email" placeholder="email@email.com">
                                        </div>
                                    </div>  
                                    <div class="row"> 
                                        <div class="small-12 columns">
                                                <input class="input-group-field" id="comment" type="text" placeholder="Comment">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="small-12 columns">
                                            <input class="round-button button-gray ProximaNova-Medium" type="submit" value="Submit">
                                        </div>      
                                    </div> 
                                </form>
                            </div>
                <!-- blog-story-form -->
                        </div>
            </div>
    </div> 



<div>
  <h1><%= @post.title %></h1>
  <h5>By: EHE HEALTH | <%= @post.created_at.to_time.strftime('%B %e %Y') %></h5>
  <p>Tags: <%=raw tag_links(@post.all_tags)%></p>
  <p><%=raw @post.body %></p>
</div>

