<% title @post.title %>
<% description @post.meta_description %>
<% keywords "EHE, #{@post.all_keywords}"  %>
<!-- Blog hero image -->
<div class="expanded row bot-space-75">
  <div class='small-12'>
    <div id="blog-hero-container">
      <div class="grad-bg"></div>
      <div class="row no-bottom-margin" >
        <div class="small-12 column">
          <div class="content-contain hero">
            <h1 class="title-heading white-text"><%= @post.title %></h1>
          </div>
        </div>
      </div>
      <%= image_tag @post.main_image.url  %>
    </div>
  </div>
</div>

<div class='row bot-space-75'>
  <div class='small-12 medium-8 medium-offset-1 column medium-push-3'>
    <!-- Blog Date -->
    <div class="row">
      <div class="small-12 column">
        <p class="gray-text font-bold"><%= @post.created_at.to_time.strftime('%B %e %Y') %></p>
      </div>
    </div>
      <!-- End Blog Date -->
        <%=raw @post.body %>
      <!-- end Blog Story -->
  </div>
    <!-- left column -->
  <div class='small-12 medium-3 column medium-pull-9'>

     <div class="row bot-space-75">
      <div class="small-12 column blog-categories">
        <%=raw tag_links(@post.all_tags).gsub(","," ") %>
      </div>
    </div>
      <!-- SHARE Social Media -->
    <div class="row ">
      <div class="small-12 column">
        <p class="font-bold">SHARE</p>
      </div>
    </div>
    <div class="row bot-space-75">
      <!--  social container -->
      <div class="small-3 medium-3 column">
        <%= link_to image_tag("/images/icon-instagram.png", :alt => "instagram", :class => "social-icons"), "https://www.instagram.com/eheintl/", target: :_blank %>
      </div>
      <div class="small-3 medium-3 column">
        <%= link_to image_tag("/images/icon-facebook.png", :alt => "facebook", :class => "social-icons"), "https://www.facebook.com/ehehealth/", target: :_blank %>
      </div>
      <div class="small-3 medium-3 column">
        <%= link_to image_tag("/images/icon-twitter.png", :alt => "twitter", :class => "social-icons"), "https://twitter.com/EHEIntl/", target: :_blank %>
      </div>
      <div class="small-3 medium-3 column">
        <%= link_to image_tag("/images/icons-youtube.png", :alt => "youtube", :class => "social-icons"), "https://www.youtube.com/user/EHEintl100/", target: :_blank %>
      </div>
      <!-- end social container -->
    </div>

      <!-- Additional Blog posts -->
      <% @recent_posts.each do |post| %>
        <div class="row bot-space-75">
           <div class="small-12 column">
            <p class="gray-text"><%= h post.created_at.to_s(:post_date) %>  |  <%= post.category.name %></p>
            <%= link_to post.title, post_path(post), :class => "drkr-blue-text font-bold" %>
            </div>
        </div>
      <% end %>
      <!-- End Additional Blog posts -->
    </div>
    <!-- end left column -->
  </div>
<!--</div>-->



