<li>
  <h4 class="drkr-gray-text"><%= location.name %></h4>
  <p>
    <%= location.street %><br>
    <%= location.city %>, <%= location.state %> <%= location.zip %><br>
    <%= location.phone %>
  </p>
</li>
