<li>
  <h4 class="drkr-gray-text"><%= location.name %></h4>
  <p><%= location.street %><br>
    <%= location.city %>, <%= location.state %> <%= location.zip %>
    <p>email@email.com<br>
      <%= location.phone %>
    </p>
  </p>
</li>
