<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <script src="/fonts/MyFontsWebfontsKit.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= display_meta_tags site: 'EHE' %>

  </head>
  <% if controller_name == "locations" %>
    <body class="home locations">
  <% else %>
    <body class="<%= controller_name %> <%= @page %>">
  <% end %>
    <%= render :partial => 'shared/header' %>
    <%= yield %>
    <%= render :partial => 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :js %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </body>
</html>
